<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}">
</head>
<body>
    <!-- Logo added here -->
<div class="logo-container">
    <img src="https://podmanagerstorage.blob.core.windows.net/blob-container/PodManagerLogo.png" alt="PodManager Logo">
</div>
    <div class="center-box">
        <h1>Forgot Password</h1>
        <form id="resetPasswordForm">
            <input type="email" id="email" placeholder="Enter your email" required>
            <input type="password" id="password" placeholder="New password" required>
            <button type="submit">Reset Password</button>
        </form>
        <script>
            document.getElementById("resetPasswordForm").addEventListener("submit", function(event) {
                event.preventDefault();
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;
            
                fetch("/reset-password", {
                    method: "POST",
                    headers: { 
                        "Content-Type": "application/json" 
                    },
                    body: JSON.stringify({ email: email, password: password })
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message || data.error);
                    if (data.message === "Password updated successfully.") {
                        window.location.href = "/signin";
                    }
                })
                .catch(error => console.error("Error:", error));
            });
            </script>
            
        
        <a href="../index.html" class="link">Back to Login</a>
    </div>
</body>
</html>
