<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),
            dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N7Q86CWB');
    </script>
    <!-- Updated favicon-16x16 -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <!-- Updated favicon.ico -->
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <title>PodManager</title>
    <!-- other head content -->
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
  </head>
  <body style="display: flex; flex-direction: column; min-height: 100vh">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7Q86CWB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    {% include 'components/header.html' %}
    <main style="flex: 1">{% block content %}{% endblock %}</main>
    {% include 'components/footer.html' %}
  </body>
</html>