<!-- The css file -->
<div id="notification-style" data-css="/static/css/components/notifications.css"></div>

<!-- Notification Component -->
<div id="notification-template" class="notification">
    <div class="notification-icon"></div>
    <div class="notification-content">
        <div class="notification-title"></div>
        <div class="notification-message"></div>
    </div>
    <div class="notification-close"></div>
</div>
    
<!-- Confirmation Popup Component -->
<div id="confirmation-popup-template" class="confirmation-popup">
    <div class="confirm-form-box">
        <h2 class="confirm-form-title"></h2>
        <p class="confirm-form-message"></p>
        <div class="confirm-form-actions">
            <button class="confirm-cancel-btn" id="cancelPopupBtn">Cancel</button>
            <button class="confirm-save-btn" id="confirmPopupBtn">Confirm</button>
        </div>
    </div>
</div>