<template id="notification-template">
    <div class="notification-icon"></div>
    <div class="notification-content">
      <div class="notification-title"></div>
      <div class="notification-message"></div>
    </div>
    <div class="notification-close"></div>
  </template>
  
  <template id="confirmation-popup-template">
    <div class="form-box">
      <h2 class="form-title"></h2>
      <p></p>
      <div class="form-actions">
        <button class="cancel-btn" id="cancelPopupBtn">Cancel</button>
        <button class="save-btn" id="confirmPopupBtn">Confirm</button>
      </div>
    </div>
  </template>