<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/homepage.css') }}"
/>
<header>
  <h1>Select a Podcast:</h1>
</header>
<div class="container" id="podcast-list">
  <!-- Dynamically populated podcasts -->
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("/get_podcasts")
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          document.getElementById(
            "podcast-list"
          ).innerHTML = `<p>${data.error}</p>`;
          return;
        }

        const podcasts = data.podcast || [];
        if (podcasts.length <= 1) {
          window.parent.document.getElementById(
            "homepage-popup"
          ).style.display = "none";
          return;
        }

        const podcastList = document.getElementById("podcast-list");
        podcastList.innerHTML = "";

        podcasts.forEach((pod) => {
          let podcastCard = document.createElement("div");
          podcastCard.classList.add("card");
          let imgUrl = pod.logoUrl || "https://via.placeholder.com/150";

          podcastCard.innerHTML = `
            <a href="/dashboard"
               onclick="window.parent.document.getElementById('homepage-popup').style.display='none';">
              <img src="${imgUrl}" alt="${"Podcast"}">
              <p>${pod.podName || "Podcast"}</p>
            </a>
            `;
          podcastList.appendChild(podcastCard);
          //<p class="episode-count">${pod.open_episodes || 0} Open Episodes</p>
          // lägg till baka ^^ sen när vi börjar använda podcast avsnitt
        });
      })
      .catch((error) => console.error("Error loading podcasts:", error));
  });
</script>
