{% extends "dashboard/components/base.html" %} {% block title %}Podcast Task
Management{% endblock %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/podcastmanagement.css') }}"
/>

<script
  type="module"
  src="{{ url_for('static', filename='js/podcastmanagement.js') }}"
></script>

<a href="{{ url_for('dashboard_bp.dashboard') }}" class="back-arrow"
  >&#8592; Back</a
>
<div class="container">
  <!-- Popup remains here -->
  <div id="podcasts-popup" class="popup">
    <div class="popup-content">
      <span id="close-popup-btn" class="close-btn">&times;</span>
      <h2 style="text-align: center">Select Podcasts to Delete</h2>
      <div
        id="podcasts-list"
        class="popup-list"
        style="text-align: center"
      ></div>
      <div class="modal-buttons" style="justify-content: center">
        <button id="delete-selected-podcasts-btn" class="crud-btn">
          Delete Selected
        </button>
        <button
          class="cancel-btn"
          onclick="document.getElementById('podcasts-popup').style.display='none'"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div id="custom-alert">
  <p id="alert-message"></p>
</div>

{% endblock %}
