dnspython
elevenlabs
Faker
feedparser
Flask
flask_cors
google_auth_oauthlib
marshmallow
matplotlib
noisereduce
numpy
openai
Pillow
pydub
pymongo
python-dotenv
pytz
soundfile
streamlit
textblob
textstat
timezonefinder
torch
torchaudio
torchvision
transformers
Werkzeug
whisper
