/* Footer Styles following Neumorphism Design Language */
.footer {
    padding: var(--spacing-lg);
    text-align: center;
    background: var(--background-light);
    background-color: #FF7F3F;
    box-shadow: 
        -5px -5px 10px var(--light-shadow-light),
         5px 5px 10px var(--dark-shadow-light);
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);

}

.footer p {
    font-family: var(--font-primary);
    color: white;
    font-size: 0.9rem;
}

/* Apply only to the podcast management page */
.podcastmanagement-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.podcastmanagement-content {
    flex: 1;
}

/* Dark Mode Support */
.dark-mode .footer {
    background: var(--background-dark);
    color: var(--text-color-dark);
    box-shadow: 
        -5px -5px 10px var(--light-shadow-dark),
         5px 5px 10px var(--dark-shadow-dark);
}

.dark-mode .footer p {
    color: var(--text-color-dark);
}

/* Responsive Adjustments */
@media (max-width: var(--breakpoint-md)) {
    .footer {
        padding: var(--spacing-md);
    }
    .footer p {
        font-size: 0.8rem;
    }
}
