{% extends "components/base.html" %}
{% block title %}Podcast Overview{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/podcast/podcast.css') }}" />
<script type="module" src="{{ url_for('static', filename='js/podcast/podcast.js') }}"></script>

<div class="container">
  <h1>Podcast Overview</h1>
  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <!-- Podcast details -->
  <div id="podcast-container" class="card-container"></div>

  <!-- Guests Section -->
  <h2>Guests</h2>
  <div id="guests-container" class="card-container"></div>

  <!-- Episodes Section -->
  <h2>Episodes</h2>
  <div id="episodes-container" class="card-container"></div>

  <!-- Tasks Section -->
  <h2>Podcast Tasks</h2>
  <div id="tasks-container" class="card-container"></div>

  <!-- Teams Section -->
  <h2>Teams</h2>
  <div id="teams-container" class="card-container"></div>

</div>
{% endblock %}
