<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/forgot.css') }}"
    />
    <script
      src="{{ url_for('static', filename='requests/forgot-passwordRequest.js') }}"
      defer
    ></script>
  </head>
  <body>
    <!-- Logo added here -->
    <div class="logo-container">
      <img
        src="https://podmanagerstorage.blob.core.windows.net/blob-container/PodManagerLogo.png"
        alt="PodManager Logo"
      />
    </div>
    <div class="center-box">
      <h1>Forgot Password</h1>
      <form id="forgotPasswordForm">
        <input
          type="email"
          id="email"
          placeholder="Enter your email"
          required
        />
        <button type="submit">Send Reset Code</button>
      </form>
      <a href="{{ url_for('signin_bp.signin') }}" class="link">Back to Login</a>
    </div>
  </body>
</html>
