<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Episode is Live!</title>
</head>
<body>
    <h1>Hi {{ guest_name }},</h1>
    <p>Your episode with <strong>{{ podName }}</strong> is officially live!</p>

    <p>Here’s the link to listen and share: 
        <a href="{{ link }}">
            Listen on Spotify
        </a>
    </p>

    <p>This was the topic we discussed:</p>
    <blockquote>
        {{ title }} <!-- Episode Title -->
    </blockquote>

    <p>It's always best if you write your own post, but here’s an idea to get you started:</p>
    <blockquote>
        “My episode on {{ podName }} with @{{ hostName }} is now live! 
        We explored "{{ title }}" and had an amazing discussion. 
        Listen in here: 
            <a href="{{ link }}">
            Listen now!
        </a> 
        #{{ podName }} #{{ guest_name }} #{{ hostName }}”
    </blockquote>

    <p>Media material for this episode can be found here: 
        <a href="{{ audio_url }}">Download Here</a>
    </p>

    <p>Feel free to make it your own, and let me know if there’s anything more I can do to help get the word out. I’m here to make this as easy and inspiring as possible!</p>

    <p>Thank you again—it was an absolute pleasure having you on the show.</p>

    <p>Best regards,</p>
    <p><strong>{{ podName }}</strong></p>
</body>
</html>
