<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{ url_for('static', filename='favicon/android-chrome-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512"
    href="{{ url_for('static', filename='favicon/android-chrome-512x512.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  <title>PodManager</title>
  <!-- other head content -->
</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
  {% include 'dashboard/components/header.html' %}
  <main style="flex: 1;">
    {% block content %}{% endblock %}
  </main>
  {% include 'dashboard/components/footer.html' %}
</body>

</html>