<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="180x180" href="https://podmanagerstorage.blob.core.windows.net/podcastlogos/apple-touch-icon.png"> <!-- Updated apple-touch-icon -->
  <link rel="icon" type="image/png" sizes="192x192" href="https://podmanagerstorage.blob.core.windows.net/podcastlogos/android-chrome-192x192.png"> <!-- Updated android-chrome-192x192 -->
  <link rel="icon" type="image/png" sizes="512x512" href="https://podmanagerstorage.blob.core.windows.net/podcastlogos/android-chrome-512x512.png"> <!-- Updated android-chrome-512x512 -->
  <link rel="icon" type="image/png" sizes="32x32" href="https://podmanagerstorage.blob.core.windows.net/podcastlogos/favicon-32x32.png"> <!-- Updated favicon-32x32 -->
  <link rel="icon" type="image/png" sizes="16x16" href="https://podmanagerstorage.blob.core.windows.net/podcastlogos/favicon-16x16.png"> <!-- Updated favicon-16x16 -->
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}"> <!-- Updated favicon.ico -->
  <link rel="manifest" href="/static/favicon/site.webmanifest">
  <title>PodManager</title>
  <!-- other head content -->
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
  {% include 'dashboard/components/header.html' %}
  <main style="flex: 1;">
    {% block content %}{% endblock %}
  </main>
  {% include 'dashboard/components/footer.html' %}
  {% if user_email %}
  <script>
    function updateCredits() {
      console.log("updateCredits körs");
      const userEmail = "{{ user_email }}";
      fetch(`/credits?email=${encodeURIComponent(userEmail)}`)
        .then(response => response.json())
        .then(data => {
          console.log("Fetched credits:", data);
          if (data.credits !== undefined) {
            const badge = document.querySelector(".credits-badge span");
            if (badge) {
              badge.textContent = `${data.credits} Credits`;
            }
          } else {
            console.error("❌ Failed to fetch credits!");
          }
        })
        .catch(error => console.error("❌ Error fetching credits:", error));
    }
    document.addEventListener("DOMContentLoaded", updateCredits);
    setInterval(updateCredits, 30000); // Uppdaterar var 30:e sekund
  </script>
  {% endif %}
</body>
</html>
