<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/header.css') }}"
/>
<header>
  <!-- Logo -->
  <div class="logo-container">
    <a href="{{ url_for('dashboard_bp.dashboard') }}" class="logo-container">
      <img src="{{ url_for('static', filename='images/PodManagerLogo.png') }}" alt="PodManager Logo" />
    </a>
  </div>
  <nav class="header-nav">
    <select
      class="form-control"
      name="podcastId"
      id="headerPodcastDropdown"
      required
    >
      <option value="" disabled selected>Select a Podcast</option>
      <!-- Placeholder option -->
      <!-- Options will be populated dynamically -->
    </select>

    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu" id="menu">
      <a href="{{ url_for('dashboard_bp.account') }}">Account</a>
      <a href="{{ url_for('dashboard_bp.taskmanagement') }}">Task Management</a>
      <a href="{{ url_for('dashboard_bp.podcastmanagement') }}">Podcast Management</a>
      <!-- <a href="{{ url_for('dashboard_bp.team') }}">Team Members</a> -->
      <!-- <a href="{{ url_for('dashboard_bp.guest') }}">Guest View</a> -->
      <!-- <a href="{{ url_for('landingpage_bp.landingpage_by_id', podcast_id=podcast_id) }}">Landing Page</a> -->
      <a href="{{ url_for('auth_bp.signin') }}" id="logout-link">Log out</a>
    </div>
  </nav>
</header>

<!-- Custom Logout Modal (TikTok-style) -->
<div id="logout-modal" class="modal">
  <div class="modal-cnt">
    <p>Are you sure you want to log out?</p>
    <div class="modal-btns">
      <button id="cancel-logout">Cancel</button>
      <button id="confirm-logout">Log out</button>
    </div>
  </div>
</div>

<!-- Include header.js as a module -->
<script
  type="module"
  src="{{ url_for('static', filename='js/header.js') }}"
></script>
