<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Manager</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <header>
        <h1> Your Podcasts:</h1>
    </header>
    <div class="container">
        <div class="card">
            <a href="{{ url_for('dashboard') }}"
               onclick="window.parent.document.getElementById('homepage-popup').style.display='none';">
              <img src="{{ url_for('static', filename='images/pod1.jpg') }}" alt="The Authority Show">
            </a>
            <p class="episode-count orange">3 Open Episodes</p>
          </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/pod2.jpg') }}" alt="John Doe Experience">
            <p class="episode-count red">8 Open Episodes</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/pod3.jpg') }}" alt="Darkweb Radio">
            <p class="episode-count green">0 Open Episodes</p>
        </div>
    </div>
</body>
</html>

