APScheduler
azure_storage
dnspython
elevenlabs
Faker
feedparser
Flask
flask_cors
flask_mail
google_auth_oauthlib
marshmallow
matplotlib
mediapipe
noisereduce
numpy
openai
openai-whisper
opt_einsum
optional-django
packaging
pandas
pathspec
php
pillow
platformdirs
pluggy
plumber
pooch
portalocker
propcache
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
openai_whisper
opencv_contrib_python
Pillow
pydub
pymongo
python-dotenv
pytz
soundfile
streamlit
textblob
textstat
timezonefinder
torch
torchaudio
torchvision
transformers
Werkzeug
whisper
