APScheduler
azure_storage
beautifulsoup4
colorama
dnspython
elevenlabs
Faker
feedparser
Flask
flask_cors
flask_mail
google_api_python_client
google_auth_oauthlib
itsdangerous
marshmallow
matplotlib
mediapipe
numpy
openai
opencv_contrib_python
protobuf
pydub
pymongo
python-dotenv
python_dateutil
soundfile
spotipy
streamlit
stripe
textblob
textstat
torch
torchvision
transformers
Werkzeug
