APScheduler
azure-storage-blob
beautifulsoup4
colorama
dnspython
elevenlabs
eventlet
Faker
feedparser
Flask
flask_cors
flask_mail
Flask_SocketIO
google_api_python_client
google_auth_oauthlib
gunicorn
itsdangerous
marshmallow
matplotlib
mediapipe
mutagen
numpy
openai
opencv_contrib_python
Pillow
protobuf
pydub
PyJWT
pymongo
python-dotenv
python_dateutil
soundfile
spotipy
streamlit
tensorflow
slug
stripe
textblob
textstat
tiktoken
torch
torchvision
transformers
urllib3
Werkzeug
