/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* General CSS styling for typography such as paragraphs, headings, etc. */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--headings-color-light);
  line-height: 1.2;
}

h1, h2 {
  font-weight: 700;
  margin-bottom: var(--spacing-sm);
  letter-spacing: -0.5px;
}

h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.85rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-light);
}
